<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>

    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
         }
    </style>
</head>
<body>
    
    <h1>Welcome to gitPub!</h1>

    <ul> 
        {% for drink in drinks %}

            {% assign words = drink.name | split: " " %}
            {% capture namecapped %}
                {% for word in words %}
                    {{ word | capitalize}}
                {% endfor %}{% endcapture %}
            <li>
                <a href="/drinks/{{ forloop.index0 }}">{{ namecapped }}</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>